*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

ul li span.done{
    text-decoration: line-through;
}

ul li{
    padding-left:  2rem;
    display: flex;
    align-items: baseline;
}

